%h3 Sign In

%div.login
  = form_for(:credentials, url: sessions_path) do |f|
    = f.label :name
    = f.text_field :name

    = f.label :password
    = f.password_field :password
    = f.submit 'Submit'
